.teamOne {
    position: fixed;
    top: 20%;
    left: 25%;
    transform: translate(-50%, 0%);
}

.teamTwo {
    position: fixed;
    top: 20%;
    left: 75%;
    transform: translate(-50%, 0%);
}

.button {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}