.teamOne {
    position: fixed;
    top: 20%;
    left: 20%;
    transform: translate(-50%, 0%);
}

.teamTwo {
    position: fixed;
    top: 20%;
    left: 80%;
    transform: translate(-50%, 0%);
}

.button {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
}

.center {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
}