.center {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.teamOne {
    position: fixed;
    top: 20%;
    left: 25%;
    transform: translate(-50%, 0%);
}

.teamTwo {
    position: fixed;
    top: 20%;
    left: 75%;
    transform: translate(-50%, 0%);
}

.teamOneWords {
    position: fixed;
    top: 20%;
    left: 40%;
    transform: translate(-50%, 0%);
}

.teamTwoWords {
    position: fixed;
    top: 20%;
    left: 60%;
    transform: translate(-50%, 0%);
}