.createSession {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.joinSession {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}